.App {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Ubuntu;
}

body {
  font-size: 40px;
  color: white;
  background: linear-gradient(70deg, #eed06c, #f78e51, #9313b3);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wave-2 {
  width: 100%;
  margin-top: -100px;
}

.skyline {
  margin-bottom: -150px;
  width: 100%;
}

.BenCostas-text {
  font-size: 100px;
  padding-top: 300px;
}

.introbox {
  height:1000px;
  width: 100%;
  background-color: #6c85bdff;
  padding-top: 100px;
  position: relative;
  top: -10px;
}

.info {
  width: 1100px;
  height: 900px;
  background-color: #f7f7f7;
  border-radius: 90px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -50px;
  box-shadow: 0px 0px 20px #d8f4ff
}

.info h3 {
  color: black;
  padding-top: 50px;
}

.picture {
  width: 440px;
  height: 500px;
  background-color: #f7f7f7;
  outline: none;
  position: absolute;
  left: 20px;
  border-radius: 50px;
}

.benlogo {
  margin-top: 100px;
}

.aboutme {
  width: 540px;
  height: 700px;
  position: absolute;
  left: 480px;
  top: 150px;
  border-radius: 90px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background: #e5e5e5;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}

.aboutme p {
  color: black;
  font-size: 25px;
  text-align: left;
}

.links {
  width: 440px;
  height: 100px;
  position: absolute;
  background-color: #f7f7f7;
  left: 20px;
  bottom: 100px;
  border-radius: 30px;
}

.links ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: auto;
  margin-left: 50px;
}

.links ul li {
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.links ul li .fa-github {
  color: black;
  size: 50px;
  margin-right: 0px;
  margin-top: 0px;
}


.links ul li .fa-envelope {
  color: black;
}

.links ul li .fa-linkedin {
  color: black;
}

.projects {
  height: 1100px;
  width: 100%;
  background-color: #2A2D48;
  margin-top: 100px;
}

.projects p {
  font-size: 35px;
}

.projects h3 {
  text-decoration: overline;
  padding-top: 100px;
}

.swiper-container {
  width: 800px;
  height: 700px;
}

.project-gallery {
  margin-top: 50px;
}

.fa-github {
  color: white;
  size: 50px;
  margin-right: 60%;
  margin-top: 25px;
}

.project-title {
  text-align: center;
  width: 460px;
  height: 100px;
  line-height: 90px;
}

.project-text {
  font-size: 40px;
}
.github-tag {
  width: 330px;
  height: 100px;
  position: absolute;
  left: 560px;
  top: 0px;
  text-align: center;
  align-content: center;
}

.github-tag a {
  font-size: 50px;
}

.swiper-slide {
  border-width: 1px;
  border-style: solid;
  border-color: #00000000;
  border-radius: 30px;
  box-shadow: 0 0 30px #c7c7c750;
  background-color: #6c64b1;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1;
  border: white solid 1px;
  background-color: transparent;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: white;
}

.project-description {
  width: 410px;
  height: 415px;
  margin-left: 5px;
  background-color: #2A2D48;
  border-radius: 20px;
  padding: 20px;
  padding-right: 20px;
}

.project-description p {
  font-size: 24px;
  position: relative;
  text-align: left;
  margin: auto;
}

.project-visual {
  width: 325px;
  height: 455px;
  position:absolute;
  left: 460px;
  top: 100px;
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: #000000;
  border-radius: 20px;
}

.project-technologies {
  width: 100%;
  height: 100px;
  margin-top: 5px;
  text-align: center;
  margin-right: auto;
  margin-left: auto
}

.project-technologies ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: auto;
}

#todolist-tech {
  margin-left: 180px;
}
#fitness-tech {
  margin-left: 165px;
}
#pace-tech {
  margin-left: 170px;
}
#website {
  margin-left: 295px;
}
.project-technologies ul li {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #2A2D48;
  border-radius: 20px;
}

.project-technologies ul li:hover {
  box-shadow: 0px 0px 30px #ffb0fbdc;
}

#todolist-gif {
  margin-top: 25%;
  width: 320px;
}

#pace-gif {
  width: 200px;
  height: 420px;
  margin-top: 20px;
  border-radius: 20px;
}

#fitness-gif {
  width: 320px;
  height: 300px;
  margin-top: 70px;
}

#website-gif {
  margin-top: 50px;
}

::-webkit-scrollbar {
  width: 15px;
  background: #2A2D48;
}

::-webkit-scrollbar-thumb {
  background: #6c64b1;
}