.App {
  text-align: center;
  width: 100%;
  height: 100%;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

body {
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(70deg, #cc9228, #838383, #9813b3);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wave-2 {
  width: 100%;
  margin-top: -100px;
}

.skyline {
  margin-bottom: -150px;
  width: 100%;
}

.BenCostas-text {
  font-size: 100px;
  margin-top: -50px;
}

.introbox {
  height: 800px;
  width: 100%;
  background-color: #6c85bdff;
  margin-top: -120px;
}

.introbox h3 {
  text-decoration: overline;
  padding-top: 100px;
}

.projects {
  height: 1000px;
  width: 100%;
  background-color: #2A2D48;
  margin-top: 100px;
}

.projects h3 {
  text-decoration: overline;
  padding-top: 100px;
}

.swiper-container {
  width: 810px;
  height: 710px;
}

.project-gallery {
  margin-top: 50px;
}

.fa-github {
  color: white;
  size: 50px;
  margin-right: 40%;
}

.fa-github:hover {
  text-shadow: 0 0 10px #71d2ff;
}

.project-title {
  text-align: center;
  width: 460px;
  height: 100px;
}
.project-title text {
  font-size: 30px;
  margin-top: -550px;
  padding-top: 100px;
}

.github-tag {
  width: 330px;
  height: 100px;
  position: absolute;
  left: 560px;
  top: 0px;
  text-align: center;
}

.github-tag a {
  font-size: 50px;
}

.swiper-slide {
  border-width: 1px;
  border-style: solid;
  border-color: #00000000;
  border-radius: 30px;
  box-shadow: 0 0 20px #a0a0a050;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1;
  border: white solid 1px;
  background-color: transparent;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: white;
}

.project-description {
  width: 440px;
  height: 455px;
  margin-left: 10px;
  background-color: #292f42;
  border-radius: 20px;
  border-color: #ffffff3d;
  border-width: 3px;
  border-style: solid;
}


.project-visual {
  width: 325px;
  height: 460px;
  position:absolute;
  left: 460px;
  top: 100px;
  border-radius: 50px;
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: black;
}

.project-technologies {
  width: 100%;
  height: 100px;
  margin-top: 5px;
}

#todolist-gif {
  border-radius: 50px;
  margin-top: 25%;
  width: 320px;
}

#pace-gif {
  width: 200px;
  height: 420px;
  margin-top: 20px;
  border-radius: 20px;
}